[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
eventsourcing = {editable = true, ref = "develop", git = "https://github.com/johnbywater/eventsourcing.git"}
PyHamcrest = "*"
sqlalchemy = "*"
flask = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.6"
