[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eventsourcing = {editable = true, ref = "develop", git = "https://github.com/johnbywater/eventsourcing.git"}
sqlalchemy = "*"
taxidemo = {editable = true, path = "."}
sqlalchemy-utils = "*"
behave = "*"
pytest-bdd = "*"

[dev-packages]

[requires]
python_version = "3.6"
